{% extends 'base.html.twig' %}

{% block title %}Donnez-nous votre avis !{% endblock %}

{% block body %}
    <div class="container shadow p-3 mb-5 rounded col-5">
        <div>
            <div class="text-center">
                <p class="text fs-2 my-5 fw-bold">Votre achat a bien été effectué !</p>
                <p class="my-5 font2">Merci de bien vouloir prendre le temps de laisser une évaluation au vendeur 😉 </p>
            </div>

            {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="text-center">
                    <input type='submit' value='ENVOYER' class="btn btn-secondary my-4 fw-bold" />
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
