
    $primary: #58b58d;
    $secondary: #ffd932;
    $dark: #29362e;
    $light: #6c757d;
    $warning: rgb(197, 192, 192);
    $danger:#ff6157;

    $enable-negative-margins: true;

    body {
        font-family: 'Poppins', sans-serif;
    }

    .font2 {
        font-family:'Roboto Slab', serif;
    }

    .card-img {
        height: 15rem; 
        object-fit : cover;
    }

    .card-img-top {
        background: #999; 
        height: 15rem; 
        object-fit: contain;
    }

    .vide-appt {
        background-color: #666;
        height: 50vh; 
        background-position:bottom; 
        background-repeat:no-repeat; 
    }

    .home-presentation {
        background: #d6e3d8;
    }

    .footer-bottom {
        line-height:.5rem
    }

    .text-s {
        font-size:small;
    }




    

    @import "~bootstrap/scss/bootstrap";
    

