<div class="card my-3" style="width: 18rem;">
  <img src="{{product.picture}}" class="card-img-top" style="height: 15rem;">
  <div class="card-body">
        <h3 class="card-title">{{ product.type }}</h3>
        <p class="card-text">{{ product.currentPrice }} € <del>{{ product.formerPrice }} €</del></p>
    </div>
</div>