<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{ asset('build/images/izidore.gif') }}" height="40"/>
    </a>

    <div class="col-2"></div>

    <div class="collapse navbar-collapse col-6" id="navbar">
      <div class="input-group">
          <div class="form-outline w-50">
            <input type="search" id="form1" class="form-control" placeholder="Quel produit vous ferait plaisir ?" />
          </div>
            <button type="button" class="btn btn-secondary">
              <i class="fas fa-search"></i>
            </button>
      </div>
    </div>

    <button type="button" class="btn btn-primary me-1 text-white fw-bold text-uppercase">
      vendre
    </button>

    <i class="far fa-heart fa-lg mx-2"></i>
    <i class="fas fa-shopping-cart fa-lg mx-2"></i>
    <i class="fas fa-user-circle fa-3x mx-2 text-secondary"></i>
  </div>
</nav>

<nav class="pb-2 text-s navbar navbar-expand-lg navbar-light bg-white text-uppercase" style="top:66px;">
  <div class="container-fluid">
    <a class="navbar-brand text-danger text-s fw-bold" href="#">nouveautés</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse font2" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">vide-apparts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">meubles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">éléctroménager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">décoration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">marques</a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">comment ça marche ?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">conseils</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>